.bg-detail {
  background: #000000;
  padding: 3rem;
  min-height: 100vh;
}


.card-detail {
  border: 4px solid #7ed967;
  height: auto;
  overflow-y: auto;
  border-radius: 1rem;
  padding: 2rem;
  background: #ffffff;
  text-align: center;
}


.separator-green {
  border-top: 4px solid #7ed967;
  margin: 50px
}

.w-20 {
  min-width: 20%;
}

.left {
  text-align: left !important;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.justify-content {
  justify-content: space-between !important;
  align-items: center;
}

.w-full {
  width: 100%;
}



img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

p {
  font-size: 1.2rem;
}

@media only screen and (max-width:640px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .hitoric-item {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .justify-content {
    justify-content: center !important;
  }
}
